@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

@font-face {
  font-family: "SimSun";
  src: url("fonts/SimSun.ttf");
}

/* BACKGROUND ELEMENTS */

body, html {
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: "Rubik Maze", system-ui !important;
    font-size: x-large;
}

/* hide scrollbar while loading */
html:has(#loadingScreen) {
  overflow-y: hidden;
}

#coverElement {
    backdrop-filter: blur(7px);
}

/* LOADING SCREEN */
#loadingScreen {
  background-color: black;
  overflow-y: hidden;
  user-select: none;
  cursor: progress;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

#loadingScreen.flash {
  background-color: white;
}

#loadingScreen.flash * {
  opacity: 0;
}

#loadingScreen div.textOverlay {
  position: absolute; 
  top: 0;
  left: 0;
}

#loadingScreen p {
  color: white;
  font-size: large;
  font-family: "SimSun";
}

#loadingScreen img {
  width: 7vw;
  height: auto;

  margin-bottom: 1vh;
}

/* INPUT ELEMENTS */

input[type="checkbox"] {
  accent-color: black;
  transform: scale(2);
  margin-right: 15px;
}

input[type="checkbox"]:checked {
  outline: 1px solid white;
  border-radius: 4px;
}

button {
  color: white;
  background-color: black;

  border: 5px double white;
}

/* === GRACE ANIMATIONS === */
span.animate {
    display: inline-block; 
    animation: graceSwayX 12s ease-in-out infinite;
    user-select: none;
}

span.animate > h1,
span.animate > h2,
span.animate > h3,
span.animate > h4,
span.animate > h5,
span.animate > h6,
span.animate > img {
    display: inline-block;
    animation: graceSwayY 9s ease-in-out infinite;
    user-select: none;
}

@keyframes graceSwayX {
  0% { transform: translateX(0px); }
  20% { transform: translateX(10px); }
  40% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  80% { transform: translateX(-10px); }
  100% { transform: translateX(0px); }
}

@keyframes graceSwayY {
  0% { transform: translateY(0px); }
  25% { transform: translateY(3px); }
  50% { transform: translateY(-6px); }
  75% { transform: translateY(3px); }
  100% { transform: translateY(0px); }
}

/* internal variables for dynamically
animating loading screen text */
:root {
  --x-offset: 50px;
  --y-offset: 15px;
  --animation-duration: 2s;
  --fade-in-delay: 1.5s;
}

#loadingScreen #loadingScreenAnimX,
#loadingScreen #loadingScreenAnimY {
  animation: var(--animation),
    10s var(--fade-in-delay) cubic-bezier(0.75, 0, 0.55, 0.95) forwards fade-in-details
}

#loadingScreenAnimX {
  --name: horizontal;
  --duration: var(--animation-duration);
  --delay: calc(-0.25 * var(--animation-duration));
}

#loadingScreenAnimY {
  --name: vertical;
  --duration: calc(0.5 * var(--animation-duration));
  --delay: 0s;
}

#loadingScreenAnimX, #loadingScreenAnimY {
  --animation: var(--duration) ease-in-out var(--delay) alternate infinite var(--name);
}

@keyframes horizontal {
  from { 
    transform: translateX(calc(-1 * var(--x-offset))); 
  }
}

@keyframes vertical {
  from { 
    transform: translateY(calc(-1 * var(--y-offset))); 
  }
}
