@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

/* BACKGROUND ELEMENTS */
body, html {
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: "Rubik Maze", system-ui !important;
    font-size: x-large;
}

#coverElement {
    backdrop-filter: blur(7px);
}

/* INPUT ELEMENTS */

input[type="checkbox"] {
  accent-color: black;
  transform: scale(2);
  margin-right: 15px;
}

input[type="checkbox"]:checked {
  outline: 1px solid white;
  border-radius: 4px;
}

button {
  color: white;
  background-color: black;

  border: 5px double white;
}

/* === GRACE ANIMATIONS === */
span.animate {
    display: inline-block; 
    animation: graceSwayX 12s ease-in-out infinite;
    user-select: none;
}

span.animate > h1,
span.animate > h2,
span.animate > h3,
span.animate > h4,
span.animate > h5,
span.animate > h6,
span.animate > img {
    display: inline-block;
    animation: graceSwayY 9s ease-in-out infinite;
    user-select: none;
}

@keyframes graceSwayX {
  0% { transform: translateX(0px); }
  20% { transform: translateX(10px); }
  40% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  80% { transform: translateX(-10px); }
  100% { transform: translateX(0px); }
}

@keyframes graceSwayY {
  0% { transform: translateY(0px); }
  25% { transform: translateY(3px); }
  50% { transform: translateY(-6px); }
  75% { transform: translateY(3px); }
  100% { transform: translateY(0px); }
}